body {
  margin: 0;
  font-family: 'Share Tech Mono', monospace; /* サイバーチックなフォントに変更 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
  background-color: #1a1a2e; /* ダークモードの背景色 */
  color: #e0e0e0; /* 明るい文字色 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}